{{ define "main" }}
<content>
  {{ if .Data.Terms }}
  <ul class="blog-posts">
    {{ range .Data.Terms.Alphabetical }}
    <li>
      <span>
        <i>{{ .Count }} posts</i>
      </span>
      <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>
    </li>
    {{ else }}
    <li>No tags yet</li>
    {{ end }}
  </ul>
  {{ else }}
  <h3 style="margin-bottom:0">#{{ .Title }}</h3>
  <small>
    <a href="{{ "tags" | relURL }}">All tags</a>
    ·
    <a href="/blog/">Back to blog</a>
  </small>
  <ul class="blog-posts">
    {{ range .Pages.ByDate.Reverse }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}'>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    <li>No posts yet</li>
    {{ end }}
  </ul>
  {{ end }}
</content>
{{ end }}
